* {
    margin: 0;
    padding: 0;
    font-size: large;
}

input {
    text-align: center;
}

.app {
    padding: 10px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;

    h2 {
        border-bottom: 3px solid black;
    }

    form {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        div {
            h3 {
                border-bottom: 1px solid black;
                margin-bottom: 5px;
            }

            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        button {
            padding: auto;
            width: 100%;
        }
    }
}

.outputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.output {
    display: flex;
    flex-direction: column;

    h2 {
        border-bottom: 3px solid black;
    }

    div {
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
